Repository AdmiralRohan/angular-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

style: add lint script
  package.json
Due: none

feat: add layout component in routes
  src/app/app-routing.module.ts
  src/app/dashboard/dashboard-routing.module.ts
  src/app/layout/containers/layout/layout.component.html
Due: prettier --write, eslint --fix

feat: data service for http calls
  src/app/core/core.module.ts
  src/app/core/http/data/data.service.spec.ts
  src/app/core/http/data/data.service.ts
  src/app/core/interfaces/post.ts
Due: prettier --write, eslint --fix

feat: add static components
  src/app/shared/components/pagination/pagination.component.html
  src/app/shared/components/pagination/pagination.component.scss
  src/app/shared/components/pagination/pagination.component.spec.ts
  src/app/shared/components/pagination/pagination.component.ts
  src/app/shared/components/search-form/search-form.component.html
  src/app/shared/components/search-form/search-form.component.scss
  src/app/shared/components/search-form/search-form.component.spec.ts
  src/app/shared/components/search-form/search-form.component.ts
  src/app/shared/directives/prevent-default-event/prevent-default-event.directive.spec.ts
  src/app/shared/directives/prevent-default-event/prevent-default-event.directive.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint --fix

feat: static breadcrumb component
  src/app/layout/containers/breadcrumb/breadcrumb.component.html
Due: prettier --write

feat: static left-nav component
  src/app/layout/containers/left-nav/left-nav.component.html
Due: prettier --write

feat: layout component
  src/app/layout/containers/header/header.component.ts
  src/app/layout/containers/layout/layout.component.html
Due: prettier --write, eslint --fix

feat: show post list
  src/app/posts/components/post-list-item/post-list-item.component.html
  src/app/posts/components/post-list-item/post-list-item.component.scss
  src/app/posts/components/post-list-item/post-list-item.component.spec.ts
  src/app/posts/components/post-list-item/post-list-item.component.ts
  src/app/posts/components/post-list/post-list.component.html
  src/app/posts/components/post-list/post-list.component.scss
  src/app/posts/components/post-list/post-list.component.spec.ts
  src/app/posts/components/post-list/post-list.component.ts
  src/app/posts/containers/post/post.component.ts
  src/app/posts/containers/posts/posts.component.html
  src/app/posts/containers/posts/posts.component.ts
  src/app/posts/posts.module.ts
  src/app/posts/services/posts-facade.service.spec.ts
  src/app/posts/services/posts-facade.service.ts
Due: prettier --write, eslint --fix

feat: search form component
  src/app/core/interfaces/search-filter.ts
  src/app/core/interfaces/search-term-change-event.ts
  src/app/posts/containers/posts/posts.component.html
  src/app/posts/containers/posts/posts.component.ts
  src/app/shared/components/search-form/search-form.component.html
  src/app/shared/components/search-form/search-form.component.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint --fix

chore: add comment
  src/app/core/core.module.ts
Due: prettier --write, eslint --fix

feat: make links dynamic in post list
  src/app/posts/components/post-list-item/post-list-item.component.html
Due: prettier --write

chore: increase search form debounce timer
  src/app/shared/components/search-form/search-form.component.ts
Due: prettier --write, eslint --fix

feat: post search
  src/app/posts/containers/posts/posts.component.ts
  src/app/posts/services/posts-facade.service.ts
Due: prettier --write, eslint --fix

chore: change text in post list
  src/app/posts/components/post-list-item/post-list-item.component.html
Due: prettier --write

feat: post search on page load with query
  src/app/core/store.ts
  src/app/core/utils.ts
  src/app/posts/containers/posts/posts.component.html
  src/app/posts/containers/posts/posts.component.ts
  src/app/posts/services/posts-facade.service.ts
  src/app/shared/components/search-form/search-form.component.ts
Due: prettier --write, eslint --fix

feat: sort posts
  src/app/core/store.ts
  src/app/posts/components/post-list/post-list.component.html
  src/app/posts/components/post-list/post-list.component.ts
  src/app/posts/containers/posts/posts.component.html
  src/app/posts/containers/posts/posts.component.ts
  src/app/posts/services/posts-facade.service.ts
  src/styles.scss
Due: prettier --write, eslint --fix

refactor: change html tag
  src/app/layout/containers/layout/layout.component.html
Due: prettier --write

feat: post sorting in both ways
  src/app/core/interfaces/sort-direction.ts
  src/app/core/store.ts
  src/app/posts/components/post-list/post-list.component.html
  src/app/posts/components/post-list/post-list.component.ts
  src/app/posts/containers/posts/posts.component.html
  src/app/posts/containers/posts/posts.component.ts
  src/app/posts/services/posts-facade.service.ts
Due: prettier --write, eslint --fix

fix: design of left-nav
  src/app/layout/containers/layout/layout.component.html
  src/app/layout/containers/layout/layout.component.scss
  src/app/layout/containers/left-nav/left-nav.component.html
  src/app/layout/containers/left-nav/left-nav.component.scss
  src/styles.scss
Due: prettier --write

fix: left nav to maintain 100% viewport height always
  src/app/layout/containers/layout/layout.component.scss
  src/app/layout/containers/left-nav/left-nav.component.html
  src/app/layout/containers/left-nav/left-nav.component.scss
  src/styles.scss
Due: prettier --write

feat: collect all queryparams in store
  src/app/core/interfaces/pagination-range.ts
  src/app/core/interfaces/query-params.ts
  src/app/core/interfaces/sort-direction.ts
  src/app/core/store.ts
  src/app/posts/components/post-list/post-list.component.html
  src/app/posts/components/post-list/post-list.component.ts
  src/app/posts/containers/posts/posts.component.html
  src/app/posts/containers/posts/posts.component.ts
  src/app/posts/services/posts-facade.service.ts
  src/app/shared/components/pagination/pagination.component.html
  src/app/shared/components/pagination/pagination.component.ts
  src/app/shared/components/search-form/search-form.component.html
Due: prettier --write, eslint --fix

fix: post pagination issues
  src/app/core/store.ts
  src/app/posts/components/post-list/post-list.component.html
  src/app/posts/components/post-list/post-list.component.ts
  src/app/posts/containers/posts/posts.component.html
  src/app/posts/containers/posts/posts.component.ts
  src/app/posts/services/posts-facade.service.ts
  src/app/shared/components/pagination/pagination.component.ts
Due: prettier --write, eslint --fix

chore: remove dead code
  src/app/posts/containers/posts/posts.component.ts
  src/app/posts/services/posts-facade.service.ts
  src/app/shared/components/pagination/pagination.component.ts
Due: prettier --write, eslint --fix

feat: add more data services
  src/app/core/http/data/data.service.ts
  src/app/core/interfaces/album.ts
  src/app/core/interfaces/photo.ts
  src/app/core/interfaces/user.ts
Due: prettier --write, eslint --fix

feat: individual post page
  src/app/posts/containers/post/post.component.html
  src/app/posts/containers/post/post.component.ts
  src/app/posts/containers/posts/posts.component.html
  src/app/posts/services/posts-facade.service.ts
Due: prettier --write, eslint --fix

chore: remove dead code
  src/app/posts/services/posts-facade.service.ts
Due: prettier --write, eslint --fix

feat: photo list basic setup
  src/app/core/interfaces/album.ts
  src/app/core/interfaces/photo.ts
  src/app/core/store.ts
  src/app/photos/containers/photos/photos.component.html
  src/app/photos/containers/photos/photos.component.ts
  src/app/photos/photos.module.ts
  src/app/photos/services/photos-facade.service.spec.ts
  src/app/photos/services/photos-facade.service.ts
  src/app/shared/components/photo-list/photo-list.component.html
  src/app/shared/components/photo-list/photo-list.component.scss
  src/app/shared/components/photo-list/photo-list.component.spec.ts
  src/app/shared/components/photo-list/photo-list.component.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint --fix

feat: photo list paginate
  src/app/core/utils.ts
  src/app/photos/containers/photos/photos.component.html
  src/app/photos/containers/photos/photos.component.ts
  src/app/photos/services/photos-facade.service.ts
  src/app/posts/services/posts-facade.service.ts
  src/app/shared/components/pagination/pagination.component.ts
  src/app/shared/components/photo-list/photo-list.component.html
  src/app/shared/components/photo-list/photo-list.component.scss
  src/app/shared/components/search-form/search-form.component.ts
Due: prettier --write, eslint --fix

feat: individual photo page
  src/app/photos/containers/photo/photo.component.html
  src/app/photos/containers/photo/photo.component.ts
  src/app/shared/components/photo-list/photo-list.component.scss
  src/styles.scss
Due: prettier --write, eslint --fix

chore: change link highlighting
  src/app/layout/containers/left-nav/left-nav.component.scss
  src/app/shared/components/pagination/pagination.component.scss
Due: prettier --write

feat: left nav highlighting
  src/app/layout/containers/left-nav/left-nav.component.html
Due: prettier --write

fix: comment
  src/app/photos/containers/photos/photos.component.html
Due: prettier --write

refactor: change change detction strategy
  src/app/dashboard/containers/dashboard/dashboard.component.ts
  src/app/layout/containers/header/header.component.ts
  src/app/layout/containers/left-nav/left-nav.component.ts
  src/app/layout/containers/not-found/not-found.component.ts
  src/app/shared/components/pagination/pagination.component.ts
Due: prettier --write, eslint --fix

feat: dynamic breadcrumb
  src/app/core/interfaces/breadcrumb-item.ts
  src/app/core/utils.ts
  src/app/layout/containers/breadcrumb/breadcrumb.component.html
  src/app/layout/containers/breadcrumb/breadcrumb.component.ts
  src/app/layout/containers/layout/layout.component.html
  src/app/layout/containers/layout/layout.component.ts
Due: prettier --write, eslint --fix

feat: album list basic draft
  src/app/albums/albums.module.ts
  src/app/albums/components/album-list/album-list.component.html
  src/app/albums/components/album-list/album-list.component.scss
  src/app/albums/components/album-list/album-list.component.spec.ts
  src/app/albums/components/album-list/album-list.component.ts
  src/app/albums/containers/album/album.component.ts
  src/app/albums/containers/albums/albums.component.html
  src/app/albums/containers/albums/albums.component.ts
  src/app/albums/services/albums-facade.service.spec.ts
  src/app/albums/services/albums-facade.service.ts
  src/app/core/store.ts
Due: prettier --write, eslint --fix

refactor: fetch data in layout component for caching
  src/app/albums/containers/albums/albums.component.ts
  src/app/albums/services/albums-facade.service.ts
  src/app/core/store.ts
  src/app/layout/containers/layout/layout.component.ts
  src/app/photos/containers/photos/photos.component.ts
  src/app/photos/services/photos-facade.service.ts
  src/app/posts/containers/posts/posts.component.ts
  src/app/posts/services/posts-facade.service.ts
  src/app/users/services/users-facade.service.spec.ts
  src/app/users/services/users-facade.service.ts
Due: prettier --write, eslint --fix

feat: not found page
  src/app/layout/containers/not-found/not-found.component.html
Due: prettier --write

feat: user page
  src/app/core/http/data/data.service.ts
  src/app/core/interfaces/user.ts
  src/app/users/components/user-albums/user-albums.component.html
  src/app/users/components/user-albums/user-albums.component.scss
  src/app/users/components/user-albums/user-albums.component.spec.ts
  src/app/users/components/user-albums/user-albums.component.ts
  src/app/users/components/user-posts/user-posts.component.html
  src/app/users/components/user-posts/user-posts.component.scss
  src/app/users/components/user-posts/user-posts.component.spec.ts
  src/app/users/components/user-posts/user-posts.component.ts
  src/app/users/containers/user/user.component.html
  src/app/users/containers/user/user.component.ts
  src/app/users/services/users-facade.service.ts
  src/app/users/users.module.ts
  src/styles.scss
Due: prettier --write, eslint --fix

perf: unsub from search form change event
  src/app/shared/components/search-form/search-form.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: {apps,libs,src}/**/*.{ts,json,md,scss,css,html}
  eslint --fix: any of: *.ts
